<style>
body {
  background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}
h1 {
  color: #D2691E;
  font-family: Gill Sans, sans-serif;
  margin-top: 1rem;
  padding-bottom: 0.1rem;
  text-align: center;
  border: 3px solid #008B8B;
  padding: 3px;
}
h4 {
  color: #008B8B;
  font-family: Gill Sans, sans-serif;
  margin-top: 1rem;
  padding-bottom: 0.1rem;
  text-align: center;
}
.all{
  color: #008B8B;
  font-family: Gill Sans, sans-serif;
  margin-top: 1rem;
  padding-bottom: 0.1rem;
  text-align: center;
}
.nutrients {
  color: #556B2F;
}
.button {
	background-color:#D2691E;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin: auto;
  display: block;
}
.button:hover {
	background-color:#008B8B;
}
p{
  color: #D2691E;
  font-family: Gill Sans, sans-serif;
  margin-top: 1rem;
  padding-bottom: 0.1rem;
  text-align: center;
}
</style>

<h1><%=@meal.title %></h1>
    <p class="nutrients"><b>Nutrients:</b></p>
    <% @meal.nutrients.except('name').each do |key, v| %>
      <p><%= key.humanize %>: <%= v.truncate(2).to_s %></p>
    <% end %>
    <p class="calories"><b>Calories:</b></p>
  <h4><%= @meal.calories %></h4>
  <p class="grams"><b>Grams:</b></p>
  <h4><%= @meal.grams.truncate(2) %></h4>

  <%= button_to "Edit Meal", edit_meal_path, method: :get, class:"button" %>
